
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <ul class="nav navbar-nav" style="width:100%;text-align:center">
      <li class="navbar-text" style="float:none;display:inline-block">&copy; 2016 &mdash; oddballDesigns</li>
    </ul>
  </div>
</nav>
