  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <a style="font-family: 'Tangerine', cursive;font-size:2.5em;font-weight:bold" class="navbar-brand" href="/">Habit@</a>
      <ul class="nav navbar-nav navbar-left">
        <li><a href="/">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
