<!DOCTYPE html>
<html>
<head>
  <title>Habit.at</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cosmo/bootstrap.min.css" rel="stylesheet" integrity="sha384-OiWEn8WwtH+084y4yW2YhhH6z/qTSecHZuk/eiWtnvLtU+Z8lpDsmhOKkex6YARr" crossorigin="anonymous">
  <link href="../style.css" rel="stylesheet">
</head>
<body>

  <% include partials/header %>

  <div id="content" class="container">
    <div class="row">
      <h1>Household Name</h1>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-1">
        <h2>Owner</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-2">
        <h3>John Smith</h3>
      </div>
      <div class="col-md-2 col-md-offset-3">
        <button class="btn btn-info"><h4>View Tasks</h4></button>
      </div>
      <div class="col-md-2">
        <button class="btn btn-success"><h4>Add Tasks</h4></button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-1">
        <h2>Members</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-2">
        <h3>Jane Smith</h3>
      </div>
      <div class="col-md-2 col-md-offset-3">
        <button class="btn btn-info"><h4>View Tasks</h4></button>
      </div>
      <div class="col-md-2">
        <button class="btn btn-success"><h4>Add Tasks</h4></button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-2">
        <h3>Billy Smith</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-2">
        <h3>Sally Smith</h3>
      </div>
    </div>
  </div>

  <% include partials/footer %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
